.pagination{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination button{
    padding: 10px;
    color: white;
    background: transparent;
    cursor: pointer;
    border: 1px solid white;

}

button.active{
    background: rgba(255, 255, 0, 0.781);
    border: none;
}

.loading{
    color: white;
}